/*DEFUALT OF THE WEB PAGE*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    color: rgb(18, 11, 11);
}

/* ALL HEADING TAGS*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

/* PARAGRAPHS, LABEL, SPAN, ANCHOR_TAG*/
p,
label,
span,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.hover{
    color: rgb(191, 118, 30);
}

.body{
    width: 100%;
}

   /*HOME AREA*/

/*HEADER AREA*/
.nav{
    overflow: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.nav 
h1 {
    width: 50%;
    float: left;
}

.nav
ul {
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 10px;
    padding-right: 115px;
}

.nav
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav
li {
    display: inline-block;    
}

/*BANNER AREA 1*/
.banner{
    height: 650px;
    background-color: rgb(210, 202, 186);
    background-image: url(../images/atf-image.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    position: relative;
}

.banner-text{
    width: 30%;
    position: relative;
    top:25%;
    left:7.5%;
}

.banner h2{
    text-transform: uppercase;
    font-size: 75px;
    line-height: 75px;
}

.banner a{
    padding: 15px 20px;
    background-color: #432818;
    color: white;
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.banner span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 177, 75);
}

.banner p{
    font-style: italic;
    margin-bottom: 15px;
    top: 20%;
    left: 7.5%;
}

/*ADS AREA 1*/
.ads {
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.ads-box {
    width: 49.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-color: #c7a07abd;
    position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3){
    margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2){
    margin-bottom: 5%;
}

.ads-box:nth-child(1){
    background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2){
    background-image: url(../images/merchandise2.jpg);
}

.ads-text{
    text-align: left;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 50%;
}

.ads-text h3{
    color: white;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ads-text a{
    color: white;
}

.text2{
    text-align: center;
    margin-bottom: 10px;
}

.ads-ads2{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.ads-box {
    width: 49.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-color: #c7a17a;
    position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3){
    margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2){
    margin-bottom: 5%;
}

.ads-box:nth-child(1){
    background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2){
    background-image: url(../images/merchandise2.jpg);
}

    /* MENU AREA*/

/*TEXT 1*/
.text1{
    text-align: center;
    margin: 1%;
    position: relative;
}

.in-text1 p{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-style: italic;
    opacity: 10px;
    color: #c7a17a;
}

.in-text2 .h2-tag h2 {
    color:rgb(17, 1, 1);
    font-size: 35px;  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

/*HR-1*/
.h-1{
    border-top: 4px solid #7c5f43dd;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

/*TABLE IMAGE*/

.tab_1{
    width: 100%;
    float: left;
    padding: 2px 88px;
    margin-top:2px;
    text-align:"center";
    margin-bottom: 30px;
    position: relative;
}

.tab_2{
    width: 100%;
    float: left;
    padding: 4px 96px;
    margin-top: 2px;
    margin-bottom: 30px;
    position: relative;
}


.tdimg{
    padding-right: 8px;
}

img{
    width: 100%;
    height: 100%;
    position: relative;
}

.txt34 p{
    font-family: Arial, Helvetica, sans-serif;
    color: #ea9d50
}


/*ADS AREA 2*/
.adve {
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding: relative;
}

.adve-box {
    width: 49.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-color: #c7a17a;
    position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3){
    margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2){
    margin-bottom: 5%;
}

.ads-box:nth-child(1){
    background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2){
    background-image: url(../images/merchandise2.jpg);
}

.adve-text{
    text-align: left;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 50%;
}

.adve-text h3{
    color: white;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adve-text a {
    color: white;
}

.adve-ads2{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.adve-box {
    width: 49.5%;
    float: left;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-color: #c7a17a;
    position: relative;
}

.adve-box:nth-child(1),
.adve-box:nth-child(3){
    margin-right: 1%;
}

.adve-box:nth-child(1),
.adve-box:nth-child(2){
    margin-bottom: 1%;
}

.adve-box:nth-child(1){
    background-image: url(../images/merchandise3.jpg);
}

.adve-box:nth-child(2){
    background-image: url(../images/merchandise4.jpg);
}

.adve-box:nth-child(3){
    background-image: url(../images/merchandise5.jpg);
}

.adve-box:nth-child(4){
    background-image: url(../images/merchandise6.jpg);
}

/*BANNER 2*/
.bx{
    overflow: auto;
    margin-left: 88px;
    margin-right: auto;
    width: 85%;
    padding: 9%;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.in-bx{
    width: 50%;
    margin: 0.5cm;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    font-family: tahoma;
    color: black
}

.bx p{
    text-align: center;
    font-style: italic;
    color: #c7a17a;
    text-align: center;
    font-size: 21px;
}

.bx h3{
    text-align: center;
    color: white;
    font-size: 25px;
}

.bx a{
    padding: 4px 12px;
    background-color: white;
    color: black;
    display:inline-block;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0.6rem;
    border-radius: 2px;
}
/*TEXT 2*/
.text2{
    text-align: center;
    margin: 7%;
    position: relative;
}

.in-text3 p{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-style: italic;
    opacity: 0.7;
    color: #c7a17a;
}

.in-text4 .h3-tag h2 {
    color:rgb(17, 1, 1);
    font-size: 35px;  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

/*HR-2*/
.h-2{
    border-top: 4px solid #7c5f43dd;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

    /*RESERVATION*/
    
/*FORM*/
.reservation{
    padding-bottom: 20px;
}

.h-5{
    border-top: 4px solid #7c5f43dd;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

form{
    text-align: left;
    width: 100%;
    margin-top: 3rem;
    background-color: #432818;
}

.in-form{
    width: 50%;
    padding: 6.5px;
    float: left;
    position: relative;
}

input{
    width: 100%;
    position: relative;  
}

textarea{
    resize: vertical;
}

.style-form{
    background-color: #cfcfcf5e;
    margin: 0px 0px 0px 88px;
    padding: 10px;
}

.instyle-form{
    padding: .4rem;
}

.sp{
    font-size: .6rem;
    margin-left: .6rem;
}

.radiostyle{
    width: 10px; 
    margin-top: 10px;
}

.d-and-l{
    width: 10px; 
    margin-top: 10px;
}

.in-form2{
    background-color: #cfcfcf5e;
    margin: 0px 88px 0px 0px;
    padding: 10px;
}

.pay{
    text-align: center;
}

.pay-text{
    font-size: .8rem;
    text-align: center;
}

.button{
    background-color:  rgb(24, 177, 75); ;
    text-align: center; 
    width: 100%; 
    color: white; 
    padding: 4px 0px;
}

.re-text{
    color:rgb(17, 1, 1);
    font-size: 25px;  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

.h-4{
    border-top: 4px solid rgba(219, 154, 14, 0.856);
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}
.for3{
    background-color: #cfcfcf5e;
    margin: 0px 88px 0px 0px;
    padding: 10px;
}

.in-form3{
    background-color: #cfcfcf5e;
    margin: 0px 0px 0px 88px;
    padding: 10px;
}


/* FOOTER AREA*/

.footer12:nth-child(1){
    position: relative;
    float: left;
    padding-top: 0px;
    font-size: 13px;
    padding-left: 45px;
    padding-right: 46px;
}

.footer_2:nth-child(2){
    position: relative;
    float: left;
    padding-top: 0px;
    font-size: 11px;
    padding-left: 0px;
    padding-right: 50px;

}
.footer_3:nth-child(3){
    position: relative;
    float: left;
    padding-top: 0px;
    font-size: 11px;
    padding-left: 0px;
    padding-right: 50px;
}



/* FOOTER_1 */
.footer_1{
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-color: gray;
    font-family: monospace;
    clear: both;
    position: relative;
    width: 100%;
    padding: 5em;
}

.tab_3 , .tab_4{
    color: white;
}

.footer12 tr, th, td {
    color: white;
}

.tdtd{
    color: #C19A6B;
}

.tdtd1{
    font-weight: bold;
}

.tdtd0{
    color: white; 
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}


/* FOOTER_3 */
.i_search{
    font-size: 19px;
    width: 145px;
    background-color: white;
    padding: 8px;
}

.footer_3 p{
    color: white;
}

.i_put{ 
    background-color: #C19A6B;
    text-align: left;
    width: 31%;
    font-size: 17px;
    color: black;
    padding: 10px
}

.footer_3 h3{
    color: white;    
    font-size: 14px;
}

.footer_3 .h{
    color: #C19A6B;
}
/* FOOTER_4 */


.footer_4{
    display: inline-block;
    color: white;
    padding: 0px;
    position: relative;
    font-size: 11px;
}

.footer_4 h3{
    color: white;
}

.footer_4 span{
    color: #C19A6B;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.footer_4 p{
    color:white;
}

.footer_4 h3{
    color: white;
}

/* FOOTER_5 */
.footer_5{
    background-color: #000000;
    padding: 50px;
    position: relative;
}
.footer_5 li{
    display: inline-block;
    position: relative;   
}

.footer_5 ul{
    position: relative;
    text-align: center;
}
.footer_5 h2{
    float: left;
    font-size: 25px;
    color: rgb(255,255,255);
}

.footer_5 a{
    width: 100%;
    color: rgb(237, 235, 236);
    display: inline-block;
    position: relative;
}

.footer_5 span{
    float: right;
    color: rgb(255,255,255);
    position: relative;
}
